/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(97,173,206);
    font-weight: bold;
    font-size: 26px;

}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(97,173,206,.8);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: rgba(24,101,134);
}

/* for dropdown only - change the color of droodown */
.navbar-custom .dropdown-menu {
    background-color: white;
}
.navbar-custom .dropdown-item {
    color: rgba(97,173,206);
}
.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: rgba(24,101,134);
    background-color: rgba(218,238,246,.8);
}

.navbar-custom .navbar-toggler-icon {
    background-image: url(“data:image/svg+xml;charset=utf8,%3Csvg viewBox=’0 98 32 32' xmlns=’http://www.w3.org/2000/svg'%3E%3Cpath stroke=’rgba(255,102,203, 0.5)’ stroke-width=’2' stroke-linecap=’round’ stroke-miterlimit=’10' d=’M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E”);;
 }


 .top-buffer { margin-top:80px; }

 .small-buffer { margin-top:20px; }

 .left-small-buffer { margin-left:20px; }

 .card {
    position: relative;
}

.card-title {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

.card img {
  filter: brightness(50%);
}

 .profile p{
    font-size: 20px;
 }



 .list-group-mine .list-group-item {
  background-color: transparent;
  border-bottom: 1px solid #757982;
  color: white;
  padding: 15px;
}

.list-group-mine .list-group-item:hover {
  background-color: #757982;
}

.list-group-mine2 .list-group-item {
  background-color: transparent;
  border-bottom: 1px solid #757982;
  color: white;
  padding: 15px;
}

.list-group-mine2 .list-group-item:hover {
  background-color: #757982;
}


.carousel-item{
    height: 600px;
} 
.carousel-item img{
    position: absolute;
    object-fit:cover;
    top: 50px;
    left: 0;
    min-height: 500px;
    filter: brightness(40%);
}

.carousel-caption {
  transform: translateY(-20%);
  bottom: 0;
  top: 50%;
}

* {
  box-sizing: border-box;
}

.cotent-block {
  width: 100%;
  margin: 50px auto;
  padding: 4%;
  line-height: 250%;
  border-bottom: 1px solid #DADADA;
  text-align: left;
  color: black;
}

 #resume{
  width: 100%;
  margin: -30px auto;
  padding: 4%;
  line-height: 250%;
  text-align: left;
  color: rgba(97,173,206);
}

.cotent-block h1{
 color: rgba(97,173,206,.8);
}

.cotent-block h3{
 color: rgba(97,173,206,.8);
}

.cotent-block p{
 font-size: 18px;
}

.cotent-block .col{
  padding-right: 5%;
}

.image-block {
  background-color: #DADADA;
  width: 100%;
  margin: 50px auto;
  padding: 4%;
  line-height: 250%;
  border-bottom: 1px solid #DADADA;
  text-align: left;
  color: black;
}

.image-block img{
 margin-top: 10%;
 height: 80%;
}

.cotent-block p{
 font-size: 18px;
}

.cotent-block .col{
  padding-right: 5%;
}

#microinteractions h3{
    margin-top: 10%;
    margin-bottom: 10%;
}

#persona h3{
    margin-top: 10%;
    margin-bottom: 10%;
}

#buttonposition{
    text-align: right;
    font-size: 5em;
}

#buttonposition:hover{
    position: relative;
    right:10%;
}

#buttonposition .btn{
    background-color: transparent;
    border-color: transparent;
    color: rgba(97,173,206);
}

#left-buttonposition{
    text-align: left;
    font-size: 5em;
}

#left-buttonposition:hover{
    position: relative;
    left:10%;
}



#left-buttonposition .btn{
    background-color: transparent;
    border-color: transparent;
    color: rgba(97,173,206);
}


.btn .fas {
     font-size: 1.5em;
     color: rgba(97,173,206);
}

#figma-prototype{
    margin-top: 5%;
}


.blur-picture{
    margin-left: 15%;
}

.blur-picture img{
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
}

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

#sidebar{
    margin:10%;
    text-align: center;
}

.nav-tabs{
  width :100%;
}

#sidebar .fas{
    margin: 20%;
    font-size: 5em;
    color: #DADADA;
}


#sidebar .fas:hover{

    color: rgba(97,173,206);
}

#sidebar:hover{

    color: rgba(97,173,206);
}


.rightbar{
    margin:10%;
}

* { box-sizing: border-box; }

body { font-family: sans-serif; }

#baking h2{
   color: rgba(97,173,206);
}

#baking p{
   color: rgba(97,173,206);
}

#book h2{
   color: rgba(97,173,206);
}

#book p{
   color: rgba(97,173,206);
}

#gaming h2{
   color: rgba(97,173,206);
}

#gaming p{
   color: rgba(97,173,206);
}

#home-info a{
   color: #777B84;
}

#home-info a:hover{
    color: rgba(97,173,206);
}

footer {
    border-top:1px solid #DADADA;
    padding-top: 5%; 
    margin: 5%;
    color: rgba(97,173,206);
    text-align: center;
}

footer a{
    color: rgba(97,173,206);
}

footer .fas{
    font-size: 1.5em;
}


