@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Open+Sans:300,400|PT+Serif|Roboto+Slab|Rubik|Source+Sans+Pro');
*{
    transition: all ease .4s;
    box-sizing: border-box;
}

/* Create columns*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: 0px solid red;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  border-color: none;
}



a{
    text-decoration: none;
    color: inherit;
}
.inner{
    position: relative;
    top:-20px;
    height: 100%;
    width: 100%;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    background: #CFA9A6;
}
.menu-itms{
    position: absolute;
    right: 280px;
    top: 0;
    width: 50%;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.menu-itm{
    position: relative;
    height: 80px;
    width: 130px;
    margin-left: 10px;
    text-align: center;
    line-height: 90px;
    background: #CFA9A6;
    font-family: 'Verdana', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: .9em;
    color:#fff;
    text-transform: uppercase;
    cursor: pointer;
}
.menu-itm:hover{
    color: #63372C;
}


.info-itms{
    position: absolute;
    right: -20px;
    top: 0px;
    width: 20%;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.info-itm{
    position: relative;
    height: 20px;
    width: 80px;
    margin-left: 10px;
    text-align: center;
    line-height: 90px;
    background: #CFA9A6;
    cursor: pointer;
}

.search{
    position: relative;
    right: 40px;
    top: 30px;
    height: 20px;
    width: 100%;
    display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #ADBCA5;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #ADBCA5;
  background: #ADBCA5;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}


.icon{
    position: relative;
    left:-10px;
    height: 30px;
}


.logo{
    position: relative;
    height: 70px;
    margin-top: 10px;
    margin-left: 10px;
}
.logo-i{
    filter: invert(100%);
    height: 70px;
    margin-top: 65px;
    margin-left: 10px;
}

/*bg pink color */
.maincontent{
    margin-top: 80px;
    background: #EEE2DF;
}

.sidebar h3{
    font-family: 'Verdana';
    font-size: 1.2em;
    color: #C89F9C;
    font-weight: 400;
    letter-spacing: 1px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

/* bg color*/
.sidebar_container{
  font-family: 'Verdana';
  height:1400px;
  width:200px;
  padding-left: 30px;
  padding-top: 50px;
  padding-right: 30px;
  background:#fff;
  border-radius: 15px;

}


.sidebar ul{
  list-style-type: none;
}



.sidebar li{
    border-bottom: 1px ;
    border-bottom-style:dashed;
    padding-top: 6px;
    padding-bottom: 6px;


}

.colors ul, .sizes ul{
  float:left; width:130px;  
}
.colors ul li{padding-left:21px;}

/* Tried the hover effect, not sure I like it*/
.colors a span{
  border:none;
  position:relative;
  border-radius:100%;
  width:13px;
  margin-left:-20px;
}
.colors a:hover span{
  width:20px;
  margin-top:3px;
  margin-left:-25px;
}

/*white bg */
.product_container{
  font-family: 'Verdana';
  height:1200px;
  width:1000px;
  float: left;
  padding-left: 30px;
  padding-top: 50px;
  padding-right: 30px;
  background:#fff;
  border-radius: 15px;

}

/*shadow*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  font-family: arial;
}

.card h3{
  padding-left: 20px;
  font-size: 18px;
}
.picture{
  height: 300px;
}

.price {
  color: grey;
  padding-left: 20px;
  font-size: 18px;
}
/*stars */
.rating img{
  padding-left: 14px;
  width:120px;
}


/* hover effect!*/
.card:hover {
  opacity: 0.7;
}
.circles{
  margin-left: 200px;
  margin-top: -42px;
}


.dot {
  margin-left: 10px;
  margin-bottom: 30px;
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}


#c1{
  background-color: #D7CDC9;
}



#c2{
  background-color: #D19E8B;
}















